<div class="row">
  <div class="col-6 col-lg-2">
    <button
      *ngIf="!game.started || game.paused"
      class="btn btn-success w-100"
      (click)="onStart()"
    >
      <span *ngIf="game.paused">Restart</span>
      <span *ngIf="!game.paused">Start</span>
    </button>
    <button
      *ngIf="game.started && !game.paused"
      class="btn btn-warning w-100"
      (click)="onPause()"
    >
      Pause
    </button>
  </div>
  <div class="col-6 col-lg-2">
    <button
      class="btn btn-danger w-100"
      [disabled]="!game.started"
      (click)="onStop()"
    >
      Stop
    </button>
  </div>
</div>
