<div class="row">
  <div class="col-6 col-lg-2">
    <button
      *ngIf="timerRef <= 0"
      class="btn btn-success w-100"
      (click)="onStart()"
    >
      <span *ngIf="timerRef !== 0">Start</span>
      <span *ngIf="timerRef === 0">Restart</span>
    </button>
    <button
      *ngIf="timerRef > 0"
      class="btn btn-warning w-100"
      (click)="onPause()"
    >
      Pause
    </button>
  </div>
  <div class="col-6 col-lg-2">
    <button class="btn btn-danger w-100" (click)="onStop()">Stop</button>
  </div>
</div>
